/* NAVBAR */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

* {
  margin: 0;
  padding: 0;
}

.main_logo {
  height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: normal 18px "Open Sans", sans-serif;
  background: #fafafa;
  color: #333;
}

main {
  min-height: 100vh;
}

header {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
h1 {
  font: normal 4em "Playfair Display SC", serif;
  text-align: center;
}
h2 {
  font: normal 2.5em "Playfair Display SC", serif;
  text-align: center;
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

/* animmation */
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #333;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1);
}

/* CENTRAL PIECE */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 65px; /* Footer height */
}

.main_cont_form {
  margin-top: -36%;
}

.reg_form {
  padding-top: 4%;
  text-align: center;
}

input[type="password"],
input[type="text"] {
  height: 32px;
  padding: 6px 16px;
  width: 10%;
  border: none;
  background-color: #f3f3f3;
}

/* FOOTER */

#footer {
  background-color: white;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
